<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <%- include('partials/bootstrap') %>    
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container w-100">
        <h3>Welcome <%=data.name%></h3>
        <% if(type === 'user') { %> 
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Check in Date</th>
                    <th scope="col">Check Out Date/th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let data of datas) { %> 
                        <tr>
                          <td><%=data.Hotels.name%></td>
                          <td><%=data.Hotels.Booking.checkin_date%></td>
                          <td><%=data.Hotels.Booking.checkout_date%></td>
                          <td><%=data.Hotels.price * data.Hotels.Booking.duration%></td>
                          <td><%=data.Hotels.Booking.duration%> Day/s</td>
                          <td><button type="button" disabled><%=data.Hotels.Booking.status%></button></td>
                          <td><a type="button" class="btn btn-primary" href="/user/<%=data.id%>/payment">Make Payment</a></td>
                        </tr>
                    <% } %>
                </tbody>
        <% } else { %>
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Check in Date</th>
                    <th scope="col">Check Out Date/th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let data of datas) { %> 
                        <tr>
                          <td><%=data.Users.name%></td>
                          <td><%=data.Users.Booking.checkin_date%></td>
                          <td><%=data.Users.Booking.checkout_date%></td>
                          <td><%=data.price * data.Users.Booking.duration%></td>
                          <td><%=data.Users.Booking.duration%> Day/s</td>
                          <td><button type="button" disabled><%=data.Users.Booking.status%></button></td>
                          <td><a type="button" class="btn btn-primary" href="/booking/validate/<%=data.Users.Booking.id%>">Validate Payment</a></td>
                        </tr>
                    <% } %>
                </tbody>
            <% } %>
          </table>
    </div>
</body>
</html>