<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <%- include('partials/bootstrap') %>    
</head>
<body>
    <div class="container w-100">
      <% if(isCustomer) { %> 
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Check in Date</th>
                    <th scope="col">Check Out Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let hotel of datas) { %> 
                        <tr>
                          <td><%=hotel.HotelId%></td>
                          <td><%=hotel.checkin_date.toJSON().slice(0,10)%></td>
                          <td><%=hotel.checkout_date.toJSON().slice(0,10)%></td>
                          <td>Belum</td>
                          <td>Belum</td>
                          <td><button type="button" disabled>Belum Bayar</button></td>
                          <td><a type="button" class="btn btn-primary" href="/user/<%=hotel.UserId%>/payment">Make Payment</a></td>
                        </tr>
                    <% } %>
                </tbody>
        <% } else { %>
            <a type="button" class="btn btn-primary" href="/<%=data.id%>/addHotel">Add Hotels</a>
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Check in Date</th>
                    <th scope="col">Check Out Date/th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let user of datas) { %> 
                        <tr>
                          <td><%=user.id%></td>
                          <td><%=user.checkin_date%></td>
                          <td><%=user.checkout_date%></td>
                          <td>Belum</td>
                          <td>Belum</td>
                          <td><button type="button" disabled><%=user.Booking.status%></button></td>
                          <td><a type="button" class="btn btn-primary" href="/booking/validate/<%=user.Booking.id%>">Validate Payment</a></td>
                        </tr>
                    <% } %>
                </tbody>
            <% } %>
          </table>
    </div>
</body>
</html>